{% extends 'base.html' %}

{% block body %}

<script type=text/javascript>
    $(function() {
        $('#submit').bind('click', function() {
            if($("#content").val() == ""){
            alert("Response cannot be empty!");
            return false;
            }

            $.ajax( {
                url: '/',
                type: 'POST',
                data: {
                    content: $('#content').val()
                },
                encode: false
            }).done(function (data) {
                $("#content").hide()
                $("#submit").hide()
                $("#successText").show()
                $('#successText').css('visibility', 'visible');
                $("#redirectResult").show()
                $('#redirectResult').css('visibility', 'visible');
            }).fail(function (data, textStatus, jqXHR) {
                alert('error!');
                console.log(textStatus);
            });
            event.preventDefault();
        });
    });
    $(function() {
    $('#upload-file-btn').click(function() {
        event.preventDefault();
        var form_data = new FormData($('#upload-file')[0]);

        if($("#file").val() == ""){
            alert("Please select a file!");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/',
            data: form_data,
            cache: false,
            contentType: false,
            processData: false,
        }).done(function(data, textStatus, jqXHR){
            $("#uploadDiv").hide();
            $('#uploadSuccess').show();
            $('#uploadSuccess').css('visibility', 'visible');
        }).fail(function(data, textStatus, jqXHR){
            alert('error!');
            console.log(textStatus);
        });
    });
}); 
</script>
<h1>{{ the_title }}</h1>
<div class="container">
    <form  method="POST">
        <label style="font-size:150%; color:antiquewhite" >Kodoma - Response It ! </label>
        <textarea style="display:block;" class="form-control" id="content" name="content" placeholder="Paste your response code." rows="25"></textarea><br>
        <script  src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.20.0/js/mdb.min.js"></script>
        <button class="btn btn-info float-right" id="submit" type="submit">Add Response</button> 
        <div style="display:none;" id="successText" class="alert alert-success">Your response code has been added.<br><br>
            <a style="display:none;" id="redirectResult" href="result"> You can reach the response page from here </a><br><br>
        </div>
    </form>
    <br><br>
    <form enctype="multipart/form-data" id="upload-file" method="POST">
        <div id="uploadDiv" class="input-group">
            <div  class="custom-file">
                <input type="file" class="custom-file-input" onchange="$('#upload-file-btn').show();" id="file" name="file" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="file">You can upload static files from below.</label>
            </div>
            <div class="input-group-append">
                <button class="input-group-text" style="display:none;" id="upload-file-btn">Upload</button>
            </div>
        </div>
        <div style="display:none;" id="uploadSuccess" class="alert alert-success">Your file has been added.<br></div>
    </form>
</div>

{% endblock %}

